@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #5CDB95;
    font-family: 'Roboto', sans-serif;
}

#calculator {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    background-color: #212121;
    width: 280px;
    height: 420px;
    padding: 20px;
    margin: 50px;
    border-radius: 20px;
    box-shadow: 5px 6px 10px #212121;
}

#display {
    background-color: #3B3B3B;
    color: #DFDFDF;
    padding: 20px;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 15px;
    box-shadow: inset 5px 6px 12px #212121;
}

#buttons {
    flex-wrap: wrap;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

button {
    font-family: 'Roboto', sans-serif;
    height: 60px;
    line-height: 60px;  
    width: 60px;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 50%;
    color: #DFDFDF;
    background-color: #616161;
    text-align: center;
    border: 0;
    box-shadow: 5px 6px 12px #000;
}

.double {
    width: 125px;
    border-radius: 50px;
}

button:hover {
    background-color: #BDBDBD;
    color: #212121;
    cursor: pointer;
}

footer {
    text-align: center;
    font-weight: bold;
}