/*
TODO:
Adicionar um tamanho padrão pros botões
Fazer o clear, o delete e o igual o dobro do tamanho padrão
Adidionar sombra aos botoes, ao display e a calculadora
Deixar a calculadora no meio da tela
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #5CDB95;
    font-family: 'Roboto', sans-serif;
}

#calculator {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    background-color: #212121;
    width: 255px;
}

#display {
    background-color: #3B3B3B;
    padding: 20px;
}

#numbers {
    flex-wrap: wrap;
}

button {
    color: #DFDFDF;
    background-color: #616161;
    font-size: 18px;
    padding: 20px 25px;
    border-radius: 50px;
    border: 0;
}

button:hover {
    background-color: #BDBDBD;
    color: #212121;
}

footer {
    text-align: center;
}